<template>
  <form @submit.prevent="onsubmit" method="POST" action="/api/admin/login">
    <va-input
      v-model="email"
      class="mb-4"
      type="email"
      :label="t('auth.email')"
      :error="!!emailErrors.length"
      :error-messages="emailErrors"
    />

    <va-input
      v-model="password"
      class="mb-4"
      type="password"
      :label="t('auth.password')"
      :error="!!passwordErrors.length"
      :error-messages="passwordErrors"
    />

    <div class="auth-layout__options flex items-center justify-between">
      <va-checkbox v-model="keepLoggedIn" class="mb-0" :label="t('auth.keep_logged_in')" />
      <router-link class="ml-1 va-link" :to="{ name: 'recover-password' }">{{
        t('auth.recover_password')
      }}</router-link>
    </div>

    <div class="flex justify-center mt-4">
      <va-button class="my-0" @click="onsubmit">{{ t('auth.login') }}</va-button>
    </div>
  </form>
</template>

<script setup lang="ts">
  import { computed, ref } from 'vue'
  import { useRouter } from 'vue-router'
  import { useI18n } from 'vue-i18n'
  import axios from 'axios'
  import apiServer from '../../../models/api'
  const { t } = useI18n()

  const email = ref('')
  const password = ref('')
  const keepLoggedIn = ref(false)
  const emailErrors = ref<string[]>([])
  const passwordErrors = ref<string[]>([])
  const router = useRouter()
  const api = new apiServer();
  const loginRoute = api.getConfigByName(api.routeConfig.auth,'login');

  const formReady = computed(() => !emailErrors.value.length && !passwordErrors.value.length)
  function onsubmit() {
    if(loginRoute?.request?.url?.raw){
        axios.post(loginRoute?.request?.url?.path?.join("/"),{
          email: email.value,
          password: password.value
        })
        .then(function (response) {
          localStorage.setItem('auth',JSON.stringify({
            email:email.value,
            token:response.data.access_token
          }));
          axios.defaults.headers.common['Authorization'] = response.data.access_token;
          router.push({ path: '/' });
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  }
</script>
